<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931825999184-i20e2945deukudsn9ssbigvu5c1qs6if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931825999184-i20e2945deukudsn9ssbigvu5c1qs6if</string>
	<key>API_KEY</key>
	<string>AIzaSyAmtQmf8jM6Yt3Pcl8cjCCqhIhLjNPCP7w</string>
	<key>GCM_SENDER_ID</key>
	<string>931825999184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CPSC-357.NutriPal</string>
	<key>PROJECT_ID</key>
	<string>nutripal-5d80e</string>
	<key>STORAGE_BUCKET</key>
	<string>nutripal-5d80e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931825999184:ios:ac6dfc2e2b8cfde6846055</string>
</dict>
</plist>